/*----root----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

body{
    background: #000; 
    overflow-x: hidden;
}

.letra-blanco{
    color: #fff;
}

.ganacia-color{
    color: #00ff5d;
} 

.perdida-color{
    color: #ff0d0d;
}

.bg-negro{
    background: #000;
}
.bg-negro:hover{
    background: #000;
}

.bg-gris:hover{
    background: #2f2f2f;
}

.pointer{
    cursor: pointer;
}

.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}

.contain{
    object-fit: contain;
}

.of-cover{
    object-fit: cover;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.t-c{
    text-align: center;
}

.a-c{
    align-items: center;
}  

.baseline{
    align-items: baseline;
}

.j-c{
    justify-content: center;
}

.capitalize{
    text-transform: capitalize;
}
 
.uppercase{
    text-transform: uppercase;
}

.hidden{
    overflow: hidden;
}

.titulo{
    font-family: titulo;
}

.normal{
    font-family: letra-normal;
}

.bold{
    font-family: letra-bold;
}

.logo{
    font-family: logo;
}

.titulo-size{
    font-size: 35px;
}

.borde-card{
    border: 1px solid #1c1c1c;
}

.borde-bottom{
    border-bottom: 1px solid #1c1c1c;
}

.borde-right{
    border-right: 1px solid #1c1c1c;
}

.bg-gris-card:hover{
    background: #080808d6;
}

.deg-title{
    background: linear-gradient( #000000d1 4%, transparent 88%);
}

.padding-card{
    padding: 5px 15px;
}

.height-40{
    height: 40px;
}

.font-16{
    font-size: 16px;
}

.font-14{
    font-size: 14px;
}

.none{
    display: none;
}